.img1 {

    height: 65vh;
    background-image: url(https://i.imgur.com/SBitYgF.jpg);
    background-size: cover;
    background-position: 50%;
}

.img2 {
    height: 65vh;
    background-image: url(https://i.imgur.com/dsw60EH.jpg);
    background-size: cover;

}

.img3 {
    height: 65vh;
    background-image: url(https://i.imgur.com/mFlcD4E.jpg);
    background-size: cover;


}

.img4 {
    height: 65vh;
    background-image: url(https://i.imgur.com/foWIVsO.jpg);
    background-size: cover;

}

.img5 {
    height: 65vh;
    background-image: url(https://i.imgur.com/yLXYGtk.jpg);
    background-size: cover;
}
.img6 {
    height: 65vh;
    background-image: url(https://i.imgur.com/GaMOBQd.jpg);
    background-size: cover;
}